@{
    ViewData["Title"] = "Home Page";
}

<div align="center"><h1>这里是受保护的客户端222首页</h1></div>

<a href="/account/Logout" style="float:right;color:#ff0000;font-size:30px">退出登录</a>

<h3>User claims</h3>

<div class="row">

    <dl>
        @foreach (var claim in User.Claims)
        {
            <dt>@claim.Type</dt>
            <dd>@claim.Value</dd>

        }
    </dl>
</div>